body {
    background-image: url('images/table.png');
    background-size:cover;
}

svg {
    height: 100%;
}

h2 {
    color: beige;
}

hr {
    margin: 35px auto 15px;
    color: beige;
}

#titleBanner {
    position:relative;
    height: 150px;
    margin: 0 auto;
    width: max-content;
}

#titlePips {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

#viewBox{
    display: block;
    width: 480px;
    margin: 40px auto;
}

#dealerCards,
#playerCards {
    display: inline-block;
    width: 60%;
    margin: 0 auto;
    border: 3px solid goldenrod;
    border-radius: 6px;
    padding: 10px;
}

#dealerSum,
#playerSum {
    display: inline-block;
    width: fit-content;
    margin: 0 0 0 20px;
    font-weight: 700;
    font-size: 28px;
    color: bisque;
}

#gameStatus {
    width: 80%;
    margin: 0 auto 30px;
    padding: 16px;
    text-align: center;
    font-weight: 400;
    font-size: larger;
    background-color: bisque;
    border-radius: 8px;
}

.playingCard {
    background-color: whitesmoke;
    border-radius: 4px;
}